*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  min-width: 20rem;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}
